version: 1
task_definition:
  ecs_network_mode: awsvpc
  task_execution_role: ECSRole
  services:
    servicename:
      essential: true
  task_size:
    mem_limit: 0.5GB
    cpu_limit: 256
run_params:
  network_configuration:
    awsvpc_configuration:
      subnets:
        - "subnet1"
        - "subnet2"
      security_groups:
        - "sg-replaceme"
      assign_public_ip: ENABLED
