[Unit]
Description=etcd distributed key-value store
Documentation=https://github.com/coreos/etcd
After=network.target

[Service]
Type=notify
User=etcd
WorkingDirectory=/var/etcd
EnvironmentFile=-/etc/etcd/etcd.conf
ExecStart=/usr/local/bin/etcd
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
