<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <filter>
        <filter-name>XRayServletFilter</filter-name>
        <filter-class>com.amazonaws.xray.javax.servlet.AWSXRayServletFilter</filter-class>
        <init-param>
            <param-name>fixedName</param-name>
            <param-value>greeting</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>XRayServletFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

</web-app>